extends layout

block content
  h1= title
    form(action="signup" method="post")
        label ユーザー名
        input(required type='test' name='userName')
        br
        label パスワード
        input(required type='password' name='password')
        br
        label パスワード再入力
        input(required type='test' name='repassword')
        br
        button(type='submit') Sing up