extends layout

block content
    include error_message
    h1= title
        form(action="signin" method="post")
            label ユーザー名
            input(required type='text' name='userName')
            br
            label パスワード
            input(required type='password' name='password')
            br
            button(type='submit') Sing in