extends layout

block content
    include header
    include error_message
    div.container
        form(action="signup" method="post")
            label ユーザー名
            input(required type='text' name='userName')
            br
            label パスワード
            input(required type='password' name='password')
            br
            label パスワード再入力
            input(required type='text' name='repassword')
            br
            button.btn.btn-primary(type='submit') Sing up
        