extends layout

block content
    include header
    include error_message
    div.container
        form(action="signin" method="post")
            label ユーザー名
            input(required type='text' name='userName')
            br
            label パスワード
            input(required type='password' name='password')
            br
            input.btn.btn-primary(type='submit' value="Sign in")